/* Stilizuj HTML elemente prema sledecim instrukcijama 
NE MENJATI HTML FAJL, PISATI ISKLJUCIVO U OVOM CSS FAJLU!

/* Dodeli <body> elementu pozadinsku boju */
body {
		background-color: #bdc3c7;
	}
/* Dodeli <h1> elementu boju #9b59b6*/
h1 {color:#9b59b6;}
/* Dodeli svim <h2> elementima boju orange */
h2 {color:orange}

/* Dodeli svim <li> elementima boju blue(heksadecimalnu vrednost)*/ 
li {color:0000FF}
/* Dodeli svakom paragrafu pozadinsku boju yellow*/
p {background-color:yellow}
/* Dodeli svim input elementima okvir 3px red border*/
 input  {
    border-style: solid;
    border-color: red;
	border-width: 3px;
}
/* Napravi klasu 'hello' i dodeli joj pozadinsku boju white */
.hello {
    background-color: white;
}
/* Napravi id 'special' i dodeli okvir 2px solid blue (uneti rgb blue)*/
#special{
    border-style: solid;
    border-color: blue;
	border-width: 2px;
}
/* Dodeli svim paragrafima koji su u okviru div taga font 25px font(font-size: 25px)*/
div p {
    font-size: 25px;
}
/* Dodeli input elementima koji su tipa 'text' sivu pozadinu - gray background*/
input[type="text"]{
	background: gray;
}

/* Dodeli paragrafima koji su ugnjezdeni u treci div element pozadinu roze - pink background*/
 div:nth-of-type(3) p {
 	background: pink;
 }

/* Make the <em> in the 3rd <div> element white and 20px font(font-size:20px)*/
div:nth-of-type(3) em {
	color: white;
	font-size: 20px;
}

/*BONUS izazov za nove selektore */

/*Dodeli svim "checked" checkbox ovima levu marginu 50px(margin-left: 50px)*/
input:checked{
	margin-left: 50px;
}

/* Dodeli <label> elementima velika slove bez menjanja html a*/
label{
	text-transform: uppercase;
}

/* Napravi elementu koji ima id 'special' prvo slovo veliko, zelenu boju green i font 100px font size(font-size: 100)*/
#special:first-letter{
	color: green;
	font-size: 100px;
}

/* Napravi da se <h1> elementu menja boja u plavu blue kada se predje misem preko */
h1:hover {
	color: blue;
}

/* dodeli <a> elementima koji su poseceni sivu boju gray */
a:visited {
	color:gray;
}
